<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="IS0-8859-1">
    <title> Cauta sau cumpara masina </title>
    <style>

        .font-36{

            font-size: 24px;

        }

    </style>
<body class="container"
 style="color: antiquewhite">

<div class="font-36" align="center" style="color: cornflowerblue">
    <h1 href="home">  Cauta sau cumpara masina </h1>
</div>

<div class="font-36" align="center">
    <a href="/cars/search"> Cauta masina </a>
</div>

<div class="font-36" align="center" >
    <a href="/cars/buy"> Cumpara masina </a>
</div>

<div class="font-36" align="center">
    <a href="/cars/update"> Da-i o nota </a>
</div>



</body>
</html>