<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <meta charset="IS0-8859-1">
    <title> Sterge User </title>

<body class="container"
      style="background: antiquewhite" >

<div align="center" style="color: cornflowerblue">
    <h1 href="/users/delete"> Sterge User </h1>

</div>

<form method="post">

    <th:block th:each="user : ${users}">
        <div class="form-group" >
            <label>
                <span th:text="${user.username}"></span>
                <input type="checkbox" name="userIds" th:value="${user.id}" classs="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">

</form>
</body>
</html>