<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="IS0-8859-1">
    <title> Introdu masina </title>

    <style>

        .font-36{

            font-size: 24px;

        }

    </style>
<body class="container"
      style="background: antiquewhite" >



<div align="center" style="color: cornflowerblue">
    <h1 href="/cars/create"> Introdu masina </h1>

</div>

<form method="post" >
    <div class="form-group font-36" align="center" >
        <label>Company
    <input type="text" name="company" class="form-control">
        </label>
        </div>
    <div class="form-group font-36" align="center">
        <label>Model
            <input type="text" name="model" class="form-control">
        </label>
    </div>
    <div class="form-group font-36" align="center">
        <label>Color
            <input type="text" name="color" class="form-control">
        </label>
    </div>
    <div class="form-group font-36" align="center">
        <label>Gearbox
            <input type="text" name="gearbox" class="form-control">
        </label>
    </div>
    <div class="form-group font-36" align="center">
        <label>Fuel
            <input type="text" name="fuel" class="form-control">
        </label>
    </div>
    <div class="form-group font-36" align="center">
        <label>Year Of Fabrication
            <input type="text" name="year" class="form-control">
        </label>
    </div>
    <div class="form-group font-36" align="center">
        <label>Rolled Kilometers
            <input type="text" name="rolledKilometers" class="form-control">
        </label>
    </div>

    <div class="form-group font-36" align="center">
        <label>Price
            <input type="text" name="price" class="form-control">
        </label>
    </div>

    <div class="form-group font-36" align="center">
        <label>Grade
            <input type="text" name="grade" class="form-control">
        </label>
    </div>

    <div class="form-group font-36" align="center">
    <input type="submit" value = "Create" class="btn btn-success">
        </div>

</form>
</body>
</html>