<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="IS0-8859-1">
    <title>Create/Delete car</title>
    <style>

        .font-36{

            font-size: 24px;

        }

    </style>
<body class="container"
      style="background: antiquewhite" >

<div class="font-36" align="center">
    <h1 href="home"></h1>
</div>

<div class="font-36" align="center" >
    <a href="/cars/create">Click here to create a car</a>
</div>

<div class="font-36" align="center">
    <a href="/cars/delete">Click here to delete a car</a>
</div>


</body>
</html>